
body {
 font-family: "Fleur De Leah", sans-serif;
  font-weight: 300;
  background-color: #FFD1DC;
  color: white;
  font-size: 1.2rem;
 
}
h1{
text-shadow:2px 2px white ;
}
a{  font-family: Bonbon", sans-serif;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FC8EAC;

}
li{
  float: left;
   border: 2px solid white;
  border: 2px solid white;
  width:24.5%;
  height: 1000px;
  font-size: 0.8rem;
}
.right{
    position: absolute;
  right: 1px;
  margin: 2px;
  padding: 2px;
  border: 2px solid;
  width:74%;
  height: 1260px;
}
span{

  background-color: #FC8EAC;
  color: white;
  font-size: 29px;
  border: 2px solid black;
}
.banner{
  text-align: center;
  text-decoration: underline #FC8EAC;
  border: 2px solid white;
  font-size: 32px;
}
.navi{
  display: flex; justify-content: center; align-items: center;
}
img{
  border: 2px dotted #FC8EAC;
  box-shadow:0px 8px 16px 0px white;
}
.gloss{
  width: 80px;
  font-size: 18px;
  background-color: white;
  color: black;
  border: 2px dotted #FC8EAC;
  text-decoration: none;
}
.workbook{
  width: 80px;
  background-color:  #FC8EAC;
  color: black;
  border: 2px dotted  white;
  text-decoration: none;
  font-size: 18px;
}
.gloss a{
 
 
  color: black;
 
  text-decoration: none;
}
.workbook a{
 
 
  color: pink;
 
  text-decoration: none;
}
.workbook a:hover{
  background-color: white;
  color: pink;
}
.gloss a:hover{
  background-color: #F4C2C2;
  color: pink;
}
.hidden {
    display: none;
}
#show, #hide {
    display: block;
  background-color:#F4C2C2 ;
  font-family: "Bonbon", sans-serif;
  box-shadow:0px 8px 16px 0px rgb(210, 4, 45);
  width: 50px;
  height: 50px;
}

.button-container {
  overflow: auto; /* Clears the float */
}

.button-float {
  float: left;
  margin-right: 3px; /* Optional: Adds space between buttons */
}
