ul{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color: #FFC0CB;
}
li{
float:left;
}
li a, .dropBtn{
  display: inline-block;
  color: #e75480;
  text-align:center;
  padding:12px 14px;
}
li a:hover, . dropDown:hover . dropBtn{
  background-color: #F8C8DC;
}
li. dropDown{
  display:inline-block;
}
.dropDown-content{
  display:none;
  position:absolute;
  background-color:#FFB6C1;
  min-width:160px;
  box-shadow:0px 8px 16px 0px rgb(255,255,255);
  z-index: 1;
}
.dropDown-content a{
  color:red;
  display:block;
  text-align:left;
}
.dropDown-content a:hover{
  background-color: #FAA0A0;
  color:pink;
}
body{
  background-color: #FFE9ED;
}
.dropDown:hover .dropDown-content{
  display:block;
}
